.feed{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.feed img{
    width: 100%;
    border-radius: 5px;
}
.feed h2{
    font-size: 20px;
    color: #000;
    font-weight: 600;
}
.feed h3{
    font-size: 16px;
    font-weight: 600;
    color: #5a5a5a;
    margin: 5px 0px;
}
.feed p{
    font-size: 14px;
}