nav{
    padding: 10px 5px;
    justify-content: space-between;
    background: #fff;
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}
.nav-left .menu_icon{
    width: 20px;
    margin-right: 20px;
}
.nav-left .logo{
    width: 120px;
}
.nav-middle .search-box{
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-right: 20px;
}
.nav-middle .search-box input{
    width: 350px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box  img{
    width: 15px;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
}
@media (max-width:900px) {
   
    .menu_icon{
        display: none;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .logo{
        width: 90px;
    }
    .nav-middle .search-box input{
        width: 80px;
    }

}