.play-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    padding: 20px 2%;
}
@media (max-width:900px){
    .play-container{
        padding-left: 5%;
        padding-right: 5%;
    }
}